// TODO Separar lo que es general de lo ques particular del demo

// @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,300);

@import url(https://fonts.googleapis.com/css?family=Press+Start+2P|Bangers);

$color-background:          #002235;
$color-background-env:      #002a42;
$color-text:                #7cdbf3;
$color-teal:                #7dbdc3;
$color-teal-dark:           #005c66;
$color-violet:              #a18fff;
$color-violet-dark:         #582fc0;
$color-orange:              #f7bd7f;
$color-orange-dark:         #b35c00;
$color-yellow:              #f0ab00;
$color-yellow-dark:         #b58100;
$color-red:                 #ce0000;
$color-red-dark:            #8b0000;
$color-blue:                #00b9e4;
$color-blue-dark:           #008bad;
$color-green:               #92d400;
$color-green-dark:          #2d7623;
$font-weight-light:         300;
$font-weight-normal:        400;
$font-weight-bold:          600;
$font-size-base:            1.5em;
$font-family: 'Bangers', cursive;
// $font-family: 'Press Start 2P', cursive;
// $easeInOutBack: cubic-bezier(0.68, -0.55, 0.265, 1.55);
$ball-size: 60%;

html{
  height: 100%;
}

body{
//  background:
//  linear-gradient(to right,$color-background 70%, transparent),
//  linear-gradient($color-background 18px, transparent 18px) 0 -2px,
//  linear-gradient(90deg,  $color-background 18px, transparent 0px) -2px 0;
//  background-color: darken($color-blue-dark, 20%);
//  background-size: 100% 100%, 20px 20px, 20px 20px;
//  color: $color-text;
//  font-family: $font-family;
//  font-weight: $font-weight-normal;
//  font-size: $font-size-base;

  margin: 0;
  height: 100%;

}

.game-container{
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  height: 100%;
  overflow: hidden;
}


// ball ==============

@keyframes move{
  100%{
    transform: translate3d(0, 100%, 0);
  }
}

.line{
  height: 100%;
  position: relative;
  animation: move 2s linear infinite;
  width: 100%;
}
.ball{
    margin: 0 auto;
    background: #555;
    width: $ball-size;
    padding-top: $ball-size;
    border-radius: 50% 50%;
}

// scoreboard ==============

.scoreboard{
//  color: #fff;
//  background: rgba(0,0,0,.5);
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 20px;
  z-index: 1;
  padding: 20px;
}


// Settings container ==============================

.settings-container{
//  background: red;
  margin: 30px;
}

.form-group{
  margin-bottom: 30px;
}
label{
  display: block;
  margin-bottom: 5px;
}

select, input{
  border: 1px solid #ccc;
  font-size: $font-size-base * 1.5;
}
input{
  font-size: $font-size-base * 1.2;
}

button{
  margin-top: 40px;
  border: 1px solid #ccc;
}
// BETTER STYLES ==========


@keyframes move-new{
  0%{
    filter: opacity(0);
  }
  20%{
    filter: opacity(1);
  }
  80%{
    filter: opacity(1);
  }
  100%{
    transform: translate3d(0, 100%, 0);
    filter: opacity(0);
  }
}


body.better{
  text-align: center;
  font-family: $font-family;

color: $color-text;

background: linear-gradient(#ffffff 50%, rgba(255,255,255,0) 0) 0 0,
radial-gradient(circle closest-side, #FFFFFF 53%, rgba(255,255,255,0) 0) 0 0,
radial-gradient(circle closest-side, #FFFFFF 50%, rgba(255,255,255,0) 0) 55px 0 #48B;
background-size:110px 200px;
background-repeat:repeat-x;

/*
background-color:black;
background-image:
radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;


  background-image:
    linear-gradient(-135deg, mediumvioletred, transparent 50%),
    linear-gradient(135deg, midnightblue, transparent 50%),
    linear-gradient(45deg, indigo, transparent 30%),
    linear-gradient(-45deg, firebrick, transparent 60%),
    linear-gradient(to right, crimson, transparent 50%),
    linear-gradient(to top, purple, transparent 50%),
    radial-gradient(ellipse farthest-corner at 50% 40%, salmon, #000);
    */


.scoreboard{
  position: static;
  bottom: auto;
//  top: 20px;
  h1, h2{
    margin: 0;
    line-height: 1.2em;
  }
  p{
    display: none;
  }
}

.container{
  position: relative;
  transform:
    perspective(10em)
    rotate3d(1, 0, 0, 10deg)
    scale3d(1.5, 3, 1);
  transform-origin: 50% 100%;
//  border-right:5px solid rgba(0,0,0,.2);
//  border-left:5px solid rgba(0,0,0,.2);
//  background-image: linear-gradient(to bottom, rgba(0,0,0,.3), rgba(0,0,0,0) 70%);
//  border-radius: 50% 50% 0 0;
// background: red;
}

.line{
  animation: move-new 2s linear infinite;
  &:nth-of-type(1) .ball{background: $color-yellow;}
  &:nth-of-type(2) .ball{background: $color-orange;}
  &:nth-of-type(3) .ball{background: $color-violet;}
  &:nth-of-type(4) .ball{background: $color-red;}
  &:nth-of-type(5) .ball{background: $color-green;}
  &:nth-of-type(5) .ball{background: $color-blue;}

}

.ball{
  background: $color-teal;
}

}//better
